<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="img/favicon.ico">
  <title>Portfolio | Ryan Smith</title>
  <!-- Bootstrap core CSS -->
  <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- DEVICONS -->
  <link rel="stylesheet"
    href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <!-- END OF DEVICONS -->

  <!-- Custom fonts for this template -->
  <link href="./vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  <link
    href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
    rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="./vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="./css/creative.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Ryan Smith</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#social">Social</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <img class="picSize" src="img/Profile_pic.jpg" alt="Profile Picture">
          <h1 class="text-uppercase">
            <strong>software engineer</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="mb-5">Not only do I take pride in tackling problems and finding innovative solutions, I enjoy it!
          </p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          <br>
          <br>
          <a class="btn btn-light btn-xl js-scroll-trigger"
            href="https://drive.google.com/open?id=1IFme-x7W3DLnuIC3ju-UuroPGmPSu-LC" target="_blank">View My Resume</a>
          <br>
          <br>
          <a class="btn btn-danger btn-xl js-scroll-trigger" href="#contact" target="_blank">Contact Me</a>
        </div>
      </div>
    </div>
  </header>

  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">I've Got What You Need!</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">I'm a Software Engineer and full-stack web developer who is passionate about
            building sophisticated yet accessible
            programs to meet the needs of the end user. I am goal-oriented, results-driven, pragmatic, and very
            passionate
            about critical-thinking, problem solving, and attention to detail. In my past, I have learned and
            implemented
            many interesting applications and games using C++ and C#, then Mobile and Web apps with Python, Javascript
            and Ruby.
            Through my stride, I not only obtained the knowledge to develop in 3 separate full stacks, but I
            specifically obtained the beneficial
            skill to learn ANYTHING at a very efficient and fast pace! With a strict schedule and the continuous
            persistence of determination, there is nothing I cannot
            achieve!
          </p>
          <br>
          <!-- social links -->
          <cetner>
            <div class="container">
              <div class="row margCenter">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 mr-auto text-center">

                  <a href="https://drive.google.com/open?id=1IFme-x7W3DLnuIC3ju-UuroPGmPSu-LC" target="_blank"
                    style="color: black">
                    <i class="fab fa-google-drive fa-3x mb-3 sr-contact"></i>
                    <p>Resume</p>
                  </a>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 mr-auto text-center">
                  <a href="https://www.linkedin.com/in/ryan-smith-31324b153/" target="_blank" style="color: black">
                    <i class="fab fa-linkedin fa-3x mb-3 sr-contact"></i>
                    <p>LinkedIn</p>
                  </a>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 mr-auto text-center">
                  <a href="https://github.com/EsC369" target="_blank" style="color: black">
                    <i class="fab fa-github-square fa-3x mb-3 sr-contact"></i>
                    <p>Github</p>
                  </a>
                </div>
              </div>
            </div>
          </cetner>

          <!-- end of social links -->
          <br>Are you in need of your own personalized website? Or just want to know more about me? Feel free to contact
          me at
          any time! </p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#contact">CONTACT</a>
          <br>
          <br>
        </div>
      </div>
  </section>

  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">At Your Service</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fas fa-code text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Passionate Designs</h3>
            <p class="text-muted mb-0">My goal is to make your dreams a reality</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa-4x fab fa-aws text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Deployment</h3>
            <p class="text-muted mb-0">I use AWS/EC2 for deployment</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa-4x fab fa-react text-primary mb-3 sr-icons"></i>
            <i class="fa-4x fab fa-angular text-primary mb-3 sr-icons"></i>
            <i class="fa-4x fab fa-js text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Front End</h3>
            <p class="text-muted mb-0">I utilize several powerful front end frameworks</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa-4x fab fa-node text-primary mb-3 sr-icons"></i>
            <i class="fa-4x fab fa-python text-primary mb-3 sr-icons"></i>
            <i class="fa-4x fab fa-js text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Back End</h3>
            <p class="text-muted mb-0">I enjoy coding in several back end languages and frameworks</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- PROJECTS SECTION -->
  <h2 align="center" class="text-primary mb-4 bold">Projects</h2>
  <hr class="my-4">
  <section class="p-0" id="portfolio">
    <div class="container-fluid p-0">


      <!-- popup-gallery -->
      <!-- DEVSPACE -->
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 marg border bgColor" style="float:left;">
        <a class="portfolio-box" href="#openModal2">
          <img class="img-fluid" src="img/portfolio/thumbnails/dev_space.png" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Built utilizing ES6+ Javascript, Node.js/Express, MongoDB, React & Redux, Twitter Bootstrap 4.
              </div>
              <div class="project-name">
                Dev Space
              </div>
            </div>
          </div>
        </a>
        <center>
          <!-- OPEN MODAL -->
          <br>
          <a href="#openModal2" class="btn2 btn-lg btn-info btn-responsive">INFO</a>
          <div id="openModal2" class="modalDialog">
            <div>
            <a href="#close" title="Close" class="close">X</a>
            <span style="font-size:28px;">Dev Space</span>
            <br>
            <span style="text-align:left;" class="bold">Github:&nbsp</span>
            <a href="http://github.com/EsC369/DevSpace">github.com/EsC369/DevSpace</a>
            <div style="width:90%;height:85%;line-height:3em;overflow:scroll;padding:5px;">
              <p style="font-weight:bold;text-align:left;font-size:18px;">Technologies Used:</p>
              <p style="text-align:left;font-size:15px;">Built utilizing ES6+ Javascript, Node.js/Express, MongoDB,
                React & Redux, Twitter Bootstrap 4, AWS & Git(Deployment)
              </p>
              <hr>

              <!-- demo vids -->
              <p span style="text-align:left;font-size:18px;" class="bold">Please view this video walkthrough
                showcasing the app's full features:</p>
              </span>
              <video width="95%" height="65%" controls>
                <source src="videos/DevSpaceDemo.mp4" type="video/mp4">
              </video>
              <center>
                <p style="margin-top:5px;">
                  <a href="http://devspaces.org" target="_blank" class="btn-lg btn-info">Try It Out!</a>
                </p>
              </center>

              <!-- Description -->
              <p style="font-weight:bold;text-align:left;font-size:18px;">Description:</p>
              <p style="text-align:left;font-size:20px;font-weight:bold;">DEV SPACE!! The Best Social Network For
                Developers Yet!</p>
              <p style="text-align:left;font-size:18px;"> Are you a developer? Have you been wanting a place to
                showcase
                your specific coding experience that isn't LAME like Linked in?! THEN LOOK NO FURTHER!
              </p>
              <p style="text-align:left;font-size:18px;"> At Dev Space, your allowed to create your own personal
                profile
                that organizes and displays all your coding experience, education and skill sets! It is also linked
                to any social
                networks you input for others to view. Aside from the showcasings, every user has the ability to
                access the post feed
                and leave posts and comments! The posts have the ability for other users to like or dislike any
                posted message while allowing
                the user to comment on said post they liked or disliked.
              </p>

              <hr>
              <!-- END OF MODAL -->
            </div>
          </center>
        </div>


      <!-- USER DASHBOARD!_--------------------- -->
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 marg border bgColor" style="float:left;">
        <a class="portfolio-box" href="#openModal3">
          <img class="img-fluid" src="img/portfolio/thumbnails/UserDashboard.png" alt="User Dashboard Pic">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Built utilizing Python 3 and Django Framework, Bootstrap 4, PostgreSQL For The Database, AWS &
                Git(Deployment).
              </div>
              <div class="project-name">
                User Dashboard
              </div>
            </div>
          </div>
        </a>
        <center>

          <!-- OPEN MODAL -->
          <br>
          <a href="#openModal3" class="btn2 btn-lg btn-info btn-responsive">INFO</a>
          <div id="openModal3" class="modalDialog">
            <div>
            <a href="#close" title="Close" class="close">X</a>
            <span style="margin: 5% auto;"></span>
            <span style="font-size:30px;">User Dashboard</span>
            <br>
            <span style="text-align:left;" class="bold">Github:&nbsp</span>
            <a href="https://github.com/EsC369/Python-3-Django-UserDashBoard-PostgreSQL1"
              target="_blank">github.com/EsC369/UserDashboard</a>

            <div style="width:90%;height:85%;line-height:3em;overflow:scroll;padding:5px;">
              <p style="font-weight:bold;text-align:left;font-size:20px;">Technologies Used:</p>
              <p style="text-align:left;font-size:18px;">Built utilizing Python 3 and Django Framework, Bootstrap 4,
                PostgreSQL For The Database, AWS & Git(Deployment).</p>
              <hr>

              <!-- demo vids -->
              <p span style="text-align:left;font-size:20px;" class="bold">Please view this video walkthrough
                showcasing the app's full features:</p>
              </span>
              <video width="95%" height="65%" controls>
                <source src="videos/UserDashboardDemo.mp4" type="video/mp4">
              </video>

              <!-- Description -->
              <p style="font-weight:bold;text-align:left;font-size:20px;">Description:</p>
              <p style="text-align:left;font-size:18px;">User Dashboard! Where friends and like minded people can
                share their knowledge and thoughts!</p>
              <p style="text-align:left;font-size:18px;">Create your own personalized profile and log into the
                message board! From there you can contact others and post messages! </p>
              <p style="text-align:left;font-size:18px;"> The app allows users to comment on said messages! With a
                built in search engine allow you to find your friends and desired content with ease!
              </p>
              <p style="text-align:left;font-size:18px;"> As you can see!! This is one of the top of the line apps
                on the market! </p>
              <hr>
              <!-- Description -->
            </div>
          </center>
        </div>
      <!--  END USER DASHBOIARD------------>


      <!-- ALPHA BLOG -->
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 marg border bgColor" style="float:left">
        <a class="portfolio-box" href="#openModal1">
          <img class="img-fluid" src="img/portfolio/thumbnails/alpha_blog.png" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Built utilizing Ruby On Rails, Bootstrap, Postgres For Database, Gravatar Imaging, AWS &
                Git(Deployment).
              </div>
              <div class="project-name">
                Alpha Blog
              </div>
            </div>
          </div>
        </a>
        <center>

          <!-- <a href="#" class="btn2 btn-lg btn-danger">DEMO</a> -->
          <br>
          <a href="#openModal1" class="btn2 btn-lg btn-info btn-responsive">INFO</a>

          <div id="openModal1" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <span style="font-size:30px;">Alpha Blog</span>
              <br>
              <span style="text-align:left;" class="bold">Github:&nbsp</span>
              <a href="https://github.com/EsC369/AlphaBlog">github.com/EsC369/AlphaBlog</a>
              <div style="width:90%;height:85%;line-height:3em;overflow:scroll;padding:5px;">
                <p style="font-weight:bold;text-align:left;font-size:20px;">Technologies Used:</p>
                <p style="text-align:left;font-size:18px;">Built utilizing Ruby On Rails, Bootstrap, Gravatar Imaging,
                  AWS & Git(Deployment).</p>
                <hr>

                <!-- Demo Vids -->
                <p span style="text-align:left;font-size:18px;" class="bold">Please view this video walkthrough
                  showcasing the app's full features:</p>
                </span>
                <video width="95%" height="65%" controls>
                  <source src="videos/AlphaBlogDemo.mp4" type="video/mp4">
                </video>
                <center>
                  <p style="margin-top:5px;">
                    <a href="http://alphablog.live" target="_blank" class="btn-lg btn-info">Try It Out!</a>
                  </p>
                </center>

                <!-- Description -->
                <p style="font-weight:bold;text-align:left;font-size:20px;">Description:</p>
                <p style="text-align:left;font-size:18px;">Alpha Blog! The Greatest Blog Web App That Ever Lived!</p>
                <p style="text-align:left;font-size:18px;">Yes! LIVED! It's true! Inanimate objects such as a blog web
                  app can be living! And if anyone says otherwise,
                  THEY ARE LYING!! IT'S A CONSPIRACY!&nbsp&nbsp
                  <i class="fa fa-smile-wink"></i>
                </p>

                <p style="text-align:left;font-size:18px;">Anyways.... It's a blog website to where anyone can create
                  his/her own account. From there you can create
                  your own blog posts, and comment on others who have posted blogs as well. If you have a gravatar
                  account,
                  Alpha Blog will display whatever image that is associated with the email that was used to create the
                  account. The website also allows one to view the profile of other bloggers and all the blogs they
                  have
                  posted! Posts include information as to who created it, when, and when the last time it was updated
                  at, along with the title and Text description!</p>
                <p class="bold" style="text-align:left;font-size:22px;">So what are you waiting for?! GO TRY IT OUT
                  NOW!!!!</p>
                <hr>
                <!-- Description -->
              </div>
        </center>
      </div>

      <!-- END OF ALPHAS BLOG -->

      <!-- GALAXY SHOT-->
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 marg border bgColor" style="float:left">
        <a class="portfolio-box" href="#openModal5">
          <img class="img-fluid" src="img/portfolio/thumbnails/GalaxyShot.png" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Built utilizing C# And Unity, Implemented Advanced Physics and Colliders, Built Cross-Platform For
                Android, Windows, And WebGL.
              </div>
              <div class="project-name">
                Galaxy Shot
              </div>
            </div>
          </div>
        </a>
        <center>
          <!-- <a href="#" class="btn2 btn-lg btn-danger">DEMO</a> -->
          <br>
          <a href="#openModal5" class="btn2 btn-lg btn-info btn-responsive">INFO</a>
          <div id="openModal5" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <span style="margin: 5% auto;"></span>
              <span style="font-size:30px;">Galaxy Shot</span>
              <br>
              <span style="text-align:left;" class="bold">Github:&nbsp</span>
              <a href="https://github.com/EsC369/GalaxyShot-Android-Csharpe-Unity"
                target="_blank">github.com/EsC369/GalaxyShot</a>
              <div style="width:90%;height:85%;line-height:3em;overflow:scroll;padding:5px;">
                <p style="font-weight:bold;text-align:left;font-size:20px;">Technologies Used:</p>
                <p style="text-align:left;font-size:18px;">Built utilizing C# And Unity, Implemented Advanced Physics
                  and Colliders, Built Cross-Platform For Android, Windows, And WebGL</p>
                <hr>

                <!-- demo vids -->
                <p span style="text-align:left;font-size:20px;" class="bold">Please view this video walkthrough
                  showcasing the app's full features:</p>
                </span>
                <video width="95%" height="65%" controls>
                  <source src="videos/GalaxyShotDemo.mp4" type="video/mp4">
                </video>
                <center>
                  <p style="margin-top:5px;">
                    <a href="#" target="_blank" class="btn-lg btn-info">Try It Out!</a>
                  </p>
                </center>

                <!-- Description -->
                <p style="font-weight:bold;text-align:left;font-size:20px;">Description:</p>
                <p style="text-align:left;font-size:18px;">Galaxy Shot! The number 1 rated Galaxy Shooter game in the
                  world!</p>
                <p style="text-align:left;font-size:18px;">Well it's simple! You hit space bar to spawn, you start
                  with 3 lives, and can shoot or aboid the continous spawningin enemies! </p>
                <p style="text-align:left;font-size:18px;"> Search the galaxy for power ups all all kinds to help you
                  in your survival across the stars!</p>
                <p style="text-align:left;font-size:18px;"> With a score board to keep count, and added annimations
                  and sounds for maximum fun!</p>
                <p style="text-align:left;font-size:18px;"> What are you waiting for!?!? PLAY IT NOW! </p>

                <hr>
                <!-- Description -->
              </div>
        </center>
      </div>
      <!-- END OF GALAXY SHOT!@ -->

      <!-- STOCK TRACKER -->
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 marg border bgColor" style="float:left">
        <a class="portfolio-box" href="#openModal4">
          <img class="img-fluid" src="img/portfolio/thumbnails/stock_tracker.png" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Built utilizing Ruby On Rails, Bootstrap, Postgres For Database, AWS & Git(Deployment).
              </div>
              <div class="project-name">
                Stock Tracker
              </div>
            </div>
          </div>
        </a>
        <center>
          <!-- <a href="#" class="btn2 btn-lg btn-danger">DEMO</a> -->
          <br>
          <a href="#openModal4" class="btn2 btn-lg btn-info btn-responsive">INFO</a>
          <div id="openModal4" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <span style="margin: 5% auto;"></span>
              <span style="font-size:30px;">Stock Tracker</span>
              <br>
              <span style="text-align:left;" class="bold">Github:&nbsp</span>
              <a href="https://github.com/EsC369/StockTracker" target="_blank">github.com/EsC369/StockTracker</a>
              <div style="width:90%;height:85%;line-height:3em;overflow:scroll;padding:5px;">
                <p style="font-weight:bold;text-align:left;font-size:20px;">Technologies Used:</p>
                <p style="text-align:left;font-size:18px;">Built utilizing Ruby On Rails, Bootstrap, Postgres For
                  Database, AWS & Git(Deployment).</p>
                <hr>

                <!-- demo vids -->
                <p span style="text-align:left;font-size:20px;" class="bold">Please view this video walkthrough
                  showcasing the app's full features:</p>
                </span>
                <video width="95%" height="65%" controls>
                  <source src="videos/StockTrackerDemo.mp4" type="video/mp4">
                </video>
                <center>
                  <p style="margin-top:5px;">
                    <a href="http://18.222.146.180/" target="_blank" class="btn-lg btn-info">Try It Out!</a>
                  </p>
                </center>

                <!-- Description -->
                <p style="font-weight:bold;text-align:left;font-size:20px;">Description:</p>
                <p style="text-align:left;font-size:18px;">Stock Tracker! The number 7989000th rated stock website in
                  the world!</p>
                <p style="text-align:left;font-size:18px;">Well it's simple! It's a website to where one can create
                  his/her account, search for stocks, and add
                  them to your account! From there, you can follow along with the current closing price of the
                  specified
                  stock! </p>
                <p style="text-align:left;font-size:18px;"> Although, you will need to google some "Stock Ticker"
                  Symbols as that is what the search bar requires.
                </p>
                <p style="text-align:left;font-size:18px;"> As you can see!! This is one of the top of the line stock
                  trackers on the market! </p>
                <p class="bold" style="text-align:left;font-size:20px;"> And yes... I'm being sarcastic!!</p>
                <hr>
                <!-- Description -->
              </div>
        </center>
      </div>

      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 marg border bgColor" style="float:left;">
        <a class="portfolio-box" target="_blank">
          <img class="img-fluid" src="img/portfolio/thumbnails/game.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                React Movie DB Search -
                In Progress, Coming soon!
              </div>
              <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 marg">
                Under Construction
              </div>
            </div>
          </div>
        </a>
        <br>
        <center><a href="#" onclick="return false;"  class="btn2 btn-lg btn-info btn-responsive">INFO</a></center>
      </div>

      

    </div> <!-- END OF SPACING CONTAINER -->
    </div>
  </section>
  <!-- END OF PROJECTS -->


  <!-- Skills Lists and logos -->
  <section class="bg-dark text-info" id="skills">
    <div class="container text-center">
      <h2 class="text-primary mb-4">Skills</h2>
      <hr>

      <div class="spacing container-fluid">
        <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <ul class="list-group">
              <li style="background-color:rgb(255, 51, 0);" class="list-group-item active">FRONT END</li>
              <li class="list-group-item">
                <i class="devicon-angularjs-plain colored big">&nbspAngular</i>
              </li>
              <li class="list-group-item">
                <i class="devicon-react-original colored big">&nbspReact / React Native</i>
              </li>
              <li class="list-group-item">
                <i class="devicon-javascript-plain colored big">&nbspJavaScript (ES6)</i>
              </li>
              <li class="list-group-item">
                <i class="devicon-jquery-plain colored big">&nbspJquery</i>
              </li>
              <li class="list-group-item">
                <i class="devicon-bootstrap-plain colored big">&nbspBootstrap</i>
              </li>
              <li class="list-group-item">
                <i class="devicon-html5-plain colored big">&nbspHTML5</i>
              </li>
              <li class="list-group-item">
                <i class="devicon-css3-plain colored big">&nbspCSS3</i>
              </li>
              <li style="text-align:center; font-size:20px; font-weight:bold;" class="list-group-item">
                <img class="img-fluid big" src="img/logos/sass.png" alt="" height="50" width="50">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/ajaxLogo.png" alt="" height="60" width="60">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/JSON.png" alt="" height="100" width="100">
              </li>
              <li class="list-group-item">
                <i class="devicon-wordpress-plain colored big">&nbspWordpress</i>
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/typescriptLogo.png" alt="" height="20" width="20">&nbsp&nbsp
                <img class="img-fluid big" src="img/logos/typescript.png" alt="" height="80" width="80">
              </li>
              <li style="text-align:center; font-size:20px; font-weight:bold;" class="list-group-item">
                <img class="img-fluid big" src="img/logos/creativeCloud.jpg" alt="" height="60" width="60">Creative
                Cloud
              </li>
            </ul>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <ul class="list-group">
              <li style="background-color:rgb(255, 51, 0);" class="list-group-item active">BACK END</li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/python.png" alt="" height="150" width="150">
              </li>
              <li class="list-group-item">
                <i class="devicon-ruby-plain colored big">&nbspRuby</i>
              </li>
              <li class="list-group-item">
                <i class="devicon-javascript-plain colored big">&nbspJavaScript (ES6)</i>
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/nodejs.png" alt="" height="100" width="100">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/aws.png" alt="" height="100" width="100">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/ec2.jpg" alt="" height="73" width="73">
              </li>
              <li class="list-group-item">
                <i class="devicon-mongodb-plain colored big">MongoDB</i>
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/postgresql.png" alt="" height="180" width="180">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/MySQL.png" alt="" height="110" width="110">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/nginx2.png" alt="" height="50" width="50">
              </li>
            </ul>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <ul class="list-group">
              <li style="background-color:rgb(255, 51, 0)" class="list-group-item active">FRAMEWORKS</li>
              <li class="list-group-item">
                <i class="devicon-angularjs-plain colored big">&nbspAngular</i>
              </li>
              <li class="list-group-item">
                <i class="devicon-react-original colored big">&nbspReact / React Native</i>
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/babel.png" alt="" height="120" width="120">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/django.png" alt="" height="140" width="140">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/flask.png" alt="" height="120" width="120">
              </li>
              <li class="list-group-item">
                <i class="devicon-rails-plain colored big2">Rails</i>
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/express.png" alt="" height="200" width="200">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/JS_Logo.png" alt="" height="44" width="44">
                <img class="img-fluid big" src="img/logos/mongoose.jpg" alt="" height="190" width="190">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/socket-io.png" alt="" height="160" width="160">
              </li>
            </ul>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <ul class="list-group">
              <li style="background-color:rgb(255, 51, 0);" class="list-group-item active">DEVELOPMENT TOOLS</li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/GitHub.png" alt="" height="50" width="50">
                <img class="img-fluid big" src="img/logos/git.jpg" alt="" height="50" width="50">
                <p style="text-align:center; font-size:20px; font-weight:bold;">GitHub/Git</p>
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/Microsoft_Visual_Studio.png" alt="" height="180" width="180">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/mysql_workbench.jpg" alt="" height="140" width="140">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/postman.png" alt="" height="120" width="120">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/atom_logo.png" alt="" height="50" width="50">
                <img class="img-fluid big" src="img/logos/atom.png" alt="" height="80" width="80">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/pycharm-logo.png" alt="" height="180" width="180">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/sublime_logo.png" alt="" height="60" width="60">
                <p style="text-align:center; font-size:20px; font-weight:bold;">Sublime</p>
              </li>
            </ul>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <ul class="list-group">
              <li style="background-color:rgb(255, 51, 0);" class="list-group-item active">METHODOLOGY</li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/oop.png" alt="" height="90" width="90">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/mvc2.jpg" alt="" height="130" width="130">
                <p style="text-align:center; font-size:20px; font-weight:bold;">MVC</p>
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/restful-api.png" alt="" height="170" width="170">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/crud.png" alt="" height="170" width="170">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/RWDResponsive.png" alt="" height="70" width="70">
                <p style="text-align:center; font-size:20px; font-weight:bold;">Responsive Web Design</p>
              </li>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <ul class="list-group">
              <li style="background-color:rgb(255, 51, 0);" class="list-group-item active">OTHERS</li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/c++.png" alt="" height="80" width="80">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/cSHarpe.jpg" alt="" height="100" width="100">
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/photoshop.png" alt="" height="70" width="70">
                <p style="text-align:center; font-size:20px; font-weight:bold;">PhotoShop</p>
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/dreamweaver.png" alt="" height="70" width="70">
                <p style="text-align:center; font-size:20px; font-weight:bold;">Dreamweaver</p>
              </li>
              <li class="list-group-item">
                <img class="img-fluid big" src="img/logos/GSuite.png" alt="" height="130" width="130">&nbsp&nbsp
              </li>

          </div>

          <!-- end of skills columns -->
        </div>
      </div>

    </div>
  </section>

  <!-- Social Links Extensive -->
  <section class="bg-primary" id="social">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">Social Links</h2>
          <hr class="my-4" style="border-color: white">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 mr-auto text-center">
          <a href="https://drive.google.com/open?id=1IFme-x7W3DLnuIC3ju-UuroPGmPSu-LC" target="_blank"
            style="color: black">
            <i class="fab fa-google-drive fa-3x mb-3 sr-contact"></i>
            <p>Resume</p>
          </a>
        </div>

        <div class="col-lg-2 mr-auto text-center">
          <a href="https://www.linkedin.com/in/ryan-smith-31324b153/" target="_blank" style="color: black">
            <i class="fab fa-linkedin fa-3x mb-3 sr-contact"></i>
            <p>LinkedIn</p>
          </a>
        </div>

        <div class="col-lg-2 mr-auto text-center">
          <a href="https://github.com/EsC369" target="_blank" style="color: black">
            <i class="fab fa-github-square fa-3x mb-3 sr-contact"></i>
            <p>Github</p>
          </a>
        </div>

        <div class="col-lg-2 mr-auto text-center">
          <a href="https://www.facebook.com/profile.php?id=100027683075380" target="_blank" style="color: black">
            <i class="fab fa-facebook fa-3x mb-3 sr-contact"></i>
            <p>Facebook</p>
          </a>
        </div>

        <div class="col-lg-2 mr-auto text-center">
          <a href="https://twitter.com/EsCL337" target="_blank" style="color: black">
            <i class="fab fa-twitter-square fa-3x mb-3 sr-contact"></i>
            <p>Twitter</p>
          </a>
        </div>

      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Contact Me </h2>
          <hr class="my-4">
          <p class="mb-5">Please feel free to contact me about any questions or opportunities!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <a href="tel:209-768-0059">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
          </a>
          <p>
            <a href="tel:209-768-0059">718-913-9706</a>
          </p>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <a href="mailto:rksmith369@gmail.com">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact"></i>
          </a>
          <p>
            <a href="mailto:rksmith369@gmail.com">rksmith369@gmail.com</a>
          </p>
        </div>
      </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="./vendor/jquery/jquery.min.js"></script>
  <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="./vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="./vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="./vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="./js/creative.min.js"></script>
  <!-- MODAL -->
  <script src="./js/script.js"></script>

</body>

</html>